{
    "sha": "0434861fec923c7d1aadb371d3b4409ed31e2d9f",
    "url": "https://api.github.com/repos/mouadh40s/5MCSI_Metriques/git/trees/0434861fec923c7d1aadb371d3b4409ed31e2d9f",
    "tree": [
        {
            "path": ".github",
            "mode": "040000",
            "type": "tree",
            "sha": "5a4152f2b0c00083227ff774c341d1c9c8723865",
            "url": "https://api.github.com/repos/mouadh40s/5MCSI_Metriques/git/trees/5a4152f2b0c00083227ff774c341d1c9c8723865"
        },
        {
            "path": "README.md",
            "mode": "100644",
            "type": "blob",
            "sha": "dcd8fd831f72d86d9c2d3ed1d9571eaeca89766d",
            "size": 8310,
            "url": "https://api.github.com/repos/mouadh40s/5MCSI_Metriques/git/blobs/dcd8fd831f72d86d9c2d3ed1d9571eaeca89766d"
        },
        {
            "path": "__init__.py",
            "mode": "100644",
            "type": "blob",
            "sha": "5d6e82f0cd43610f97bf214136ca14b9f2622e44",
            "size": 1784,
            "url": "https://api.github.com/repos/mouadh40s/5MCSI_Metriques/git/blobs/5d6e82f0cd43610f97bf214136ca14b9f2622e44"
        },
        {
            "path": "templates",
            "mode": "040000",
            "type": "tree",
            "sha": "970cba2e3c1a66943609692afffebb009b14acec",
            "url": "https://api.github.com/repos/mouadh40s/5MCSI_Metriques/git/trees/970cba2e3c1a66943609692afffebb009b14acec"
        }
    ],
    "truncated": false
}
